/* Colores (variables) */
* {
    -morado-principal: #6200ee;
    -blanco: white;
    -teal-accion: #03dac6;
    -negro-texto: #000000;
    -gris-borde: #eeeeee;
    -gris-fondo-lateral: #f8f9fa;
    -gris-fondo-resumen: #fafafa;
}