.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
    -fx-padding: 0 0 5 0;
}

.mfx-button {
    -fx-background-radius: 24;
    -fx-padding: 6 20 6 20;
}

.mfx-text-field, .mfx-password-field, .mfx-combo-box {
    -fx-pref-width: 220;
}

.mfx-progress-bar .bar {
    -fx-background-color: #3498db;
}

.mfx-progress-spinner .track {
    -fx-stroke: #ecf0f1;
}
.mfx-progress-spinner .progress {
    -fx-stroke: #2ecc71;
}

.mfx-date-picker {
    -fx-pref-width: 220;
}